In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Question 1

In [2]:
np.__version__

'1.19.2'

## Question 2

In [5]:
pd.__version__

'1.1.3'

In [7]:
df = pd.read_csv("data/data.csv")

## Question 3

In [10]:
df[df['Make']=='BMW']['MSRP'].mean()

61546.76347305389

In [11]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 4

In [12]:
cars2015 = df[df['Year']>=2015]

In [15]:
cars2015.isnull().sum()['Engine HP']

51

## Question 5

In [17]:
mean_hp_before = df['Engine HP'].mean()

In [18]:
df['Engine HP'].fillna(df['Engine HP'].mean(), inplace=True)

In [19]:
mean_hp_after =df['Engine HP'].mean()

In [22]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

## Question 6

In [23]:
rollsroyce  = df[df['Make']=='Rolls-Royce']

In [26]:
rollsroyce[["Engine HP", "Engine Cylinders", "highway MPG"]]

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5276       563.0              12.0           21
5277       563.0              12.0           21
5278       563.0              12.0           21
5279       563.0              12.0           20
5280       563.0              12.0           20
5281       563.0              12.0           21
5282       563.0              12.0           21
5283       563.0              12.0           21
5284       563.0              12.0           21
7443       322.0              12.0           15
7444       322.0              12.0           15
7553       453.0              12.0           19
7554       453.0              12.0           19
7555       453.0              12.0           19
7556       453.0              12.0           19
7557       453.0              12.0           19
7558       453.0              12.0           19
7559       453.0              12.0           19
7560       453.0              12.0           19
7561       453.0              12.0           19
7562       453.0              12.0           19
7563       453.0              12.0           19
7564       453.0              12.0           19
9431       322.0              12.0           15
9432       322.0              12.0           15
11448      624.0              12.0           21
11449      624.0              12.0           21
11450      624.0              12.0           21

In [34]:
X = rollsroyce[["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates().to_numpy()

In [35]:
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [38]:
XTX= np.matmul(X.T, X)

In [39]:
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

In [41]:
XTXinv = np.linalg.inv(XTX)

In [42]:
XTXinv

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [43]:
XTXinv.sum()

0.032212320677486195

## Question 7

In [45]:
y=[1000, 1100, 900, 1200, 1000, 850, 1300]

In [47]:
w = np.matmul(np.matmul(XTXinv, X.T), y)

In [48]:
w

array([ 0.19989598, 31.02612262, 31.65378877])